<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.corpitech.vozera">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ct"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ct"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.corpitech.vozera.ScanningActivity">

        </activity>
        <activity android:name="com.corpitech.vozera.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.corpitech.vozera.UserSetupActivity"></activity>
        <activity
            android:name="com.corpitech.vozera.EditUserModelActivity"
            android:label="@string/edit_speaker_model" />
        <activity
            android:name="com.corpitech.vozera.VerificationActivity"
            android:label="@string/verification" />
        <activity android:name="com.corpitech.vozera.AudioRecordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>